/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    
}

.calculator-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.sinhala {
    color: #090808;
    font-weight: bold;
    
}

h1 {
    font-size: 20px;
    color: #040404;
    /* margin-bottom: 15px; */
}

p {
    font-size: 12px;
    color: #000000;
    margin-bottom: 10px;
    text-align:justify;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items */
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
    text-align: center; /* Center the labels */
}

input[type="number"] {
    padding: 8px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    width: 100%; /* Make the input field take full width */
    max-width: 300px; /* Limit the max width */
}

fieldset {
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

button {
    width: 100%; /* Adjust the width as needed, e.g., '100%', 'auto', or specific value */
    height: 50px; /* Set the desired height */
    padding: 8px;
    background-color: #3ba728;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    max-width: 200px; /* Limit the max width */
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 10px;
    font-size: 14px;
    color: #a92929;
}

/* Additional styles for radio buttons */
.type_dos {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the container */
    margin-bottom: 15px; /* Adjust the bottom margin if needed */
}

.type_dos label {
    display: flex;
    align-items: center; /* Vertically align the radio button and text */
    margin-bottom: 10px; /* Space between the labels */
    font-size: 14px; /* Adjust font size as needed */
}

.type_dos input[type="radio"] {
    margin-right: 8px; /* Space between the radio button and text */
}



/* Laptop (1024px) */
@media (max-width: 1024px) {
    .calculator-container {
        padding: 10px;
    }

    h1 {
        font-size: 18px;
    }

    p, label, input[type="number"], legend, button {
        font-size: 12px;
    }
}

/* Mobile (500px) */
@media (max-width: 425px) {
    .calculator-container {
        padding: 10px;
    }

    h1 {
        font-size: 16px;
    }

    p, label, input[type="number"], legend, button {
        font-size: 11px;
    }

    button {
        width: 100%;
        max-width: 150px; /* Adjust the max width for mobile */
        margin: 0 auto; /* Center the button */
    }
}